@import "pages/post", "pages/index", "pages/login", "pages/register", "pages/error", "pages/compose";

body > header { @extend %toplevel; @extend %clearafter;
    margin-top: modular_scale(1);


    h1 { @extend %smalltitle;
        font-size: modular_scale(2);
        margin-right: 3em;
        float: left;

        a {
            color: $color_vivid;
        }
    }

    nav {
        float: right;
        font-size: modular_scale(-5);
        margin-top: ((modular_scale(2) - 1em) * modular_ratio(0, -5)) / 2;

        ul {
            padding: 0;
            li {
                list-style-type: none;
                float: left;
                margin-right: 2em;

                a { @extend %smalltitle;
                    color: $color_vivid;
                    font-weight: normal;
                }
            }
        }
    }

    padding-bottom: modular_scale(1);
    border-bottom: 2px solid $color_vivid;
    margin-bottom: modular_scale(1);
}

section { @extend %body; @extend %toplevel;
    h1, h2, h3, h4, h5, h6 { @extend %bigtitle;

    }

    h1 {
        font-size: modular_scale(4);
        margin-bottom: 1em * modular_ratio(0, 4);
    }
}

form {
    input[type="text"], input[type="password"], input[type="datetime-local"], input[type="number"],
    input[type="email"], textarea, select { @extend %field;

    }

    input[type="submit"] { @extend %button; @extend %clearafter;
        margin-top: 1em;
        float: right;
    }

    ul.errors {
        color: #f00;
        padding-top: 3em;
        text-align: right;
    }

    div.field { @extend %clearafter;
        margin-top: 1em;

        label {
            float: left;
            width: 15%;
            margin-top: 0.9em;
        }

        input, textarea, select {
            float: right;
            width: 80%;
            margin-left: 5%;
        }
    }
}