@import "pages/post",
         "pages/index";

body > header { @extend %toplevel; @extend %clearafter;
    margin-top: modular_scale(1);


    h1 { @extend %smalltitle;
        font-size: modular_scale(2);
        margin-right: 3em;
        color: $color_vivid;
    }

    nav {
        float: left;
        font-size: modular_scale(-5);
        margin-top: ((modular_scale(2) - 1em) * modular_ratio(0, -5)) / 2;

        ul {
            padding: 0;
            li {
                list-style-type: none;

                a { @extend %smalltitle;
                    color: $color_vivid;
                    font-weight: normal;
                }
            }
        }
    }

    padding-bottom: modular_scale(1);
    border-bottom: 2px solid $color_vivid;
    margin-bottom: modular_scale(1);
}